name: Release For New Electron Version

on:
  workflow_dispatch:
    inputs:
        version:
          description: Electron version to use with "v" prefix (e.g. v30.0.0)
          required: true

jobs:
  test:
    uses: ./.github/workflows/test.yml
    with:
      electron-version: ${{ github.event.inputs.version }}
  release:
    runs-on: ubuntu-latest
    needs: test
    environment: npm
    permissions:
      contents: write # to be able to publish a GitHub release
      id-token: write # for CFA and npm provenance
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          persist-credentials: false
      - name: "Use Node.js ${{ matrix.node-version }}"
        uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4.0.3
        with:
          node-version: "20.16.0"
      - name: Update Version
        run: node script/update-version.js ${{ github.event.inputs.version }}
      - name: Confirm Version Updated
        run: node -e "if (require('./package.json').version === '0.0.0-development') process.exit(1)"
      - uses: continuousauth/action@4396fa3eb7c9790548b9e2b6e4f527df5b861add # v1.0.1
        with:
          project-id: ${{ secrets.CFA_PROJECT_ID }}
          secret: ${{ secrets.CFA_SECRET }}
          npm-token: ${{ secrets.NPM_TOKEN }}
